@using Website
@using Agility.Web.Extensions
@using Agility.Web.Plugins
@using System.Web.Optimization
<!doctype html>
<html>
<head>

    @* Set the Page Title *@
    @Html.SetPageTitle((string)(ViewBag.Title), true)
    <title>@Html.GetPageTitle()</title>

    <link rel="shortcut icon" href="@Html.ResolveUrl("~/favicon.ico")" />

    <meta charset="utf-8">

    @* Responsive declarations *@
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Begin Meta Variables from Custom Code -->
    @Html.GetHttpMetaVariables()
    <!-- End Meta Variables from Custom Code -->

    <!-- Begin Agility Page/Global Top Scripts -->
    @{Html.RenderAgilityTopScripts();}
    <!-- End Agiilty Page/Global Top Scripts -->

    <!-- Begin Agility Meta Tags/Additional Header Code -->
    @{Html.RenderAgilityCssOnly();}
    <!-- End Agility Meta Tags/Additional Header Code -->

    @Styles.Render("~/bundles/css")

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-sham.js"></script>
    <![endif]-->

</head>
<body>

    @Html.Action("GlobalHeader", "Global")

    <!-- Begin Inner Page Template -->
    @RenderBody()
    <!-- End Inner Page Template -->

    @Html.Action("GlobalFooter", "Global")

    <!-- Bundle of Core JS -->
    @Scripts.Render("~/bundles/vendor")
    <!-- End Bundle of Core JS -->

    <!-- Initialize Agility UGC -->
    <script type="text/javascript">@Html.Raw(Agility.UGC.API.WCF.UGCAPIUtil.GetDataServiceInitializationScript(-1))</script>

    <!-- Begin Agility Bottom Scripts and Global Scripts -->
    @{Html.RenderAgilityScriptsNoJQuery();}
    <!-- End Agility Bottom Scripts and Global Scripts -->

    <!-- Bundle of React Components -->
    @Scripts.Render("~/dist/client.js")
    <!-- End Bundle of React Components -->

    @Html.ReactInitJavaScript()

</body>
</html>
