@using Website.ViewModels
@model Pagination




@if (Model.TotalResults > Model.ResultsPerPage)
{
    @:<ul class="pagination">
    if (Model.PaginationAs == PaginationMode.PageNumbers)
    {
        //Page Numbers mode
        int numPages = (int)Math.Ceiling(Model.TotalResults / (decimal)Model.ResultsPerPage);
        if (Model.CurrentPageNumber > 1)
        {
            <li><a class="prev" href="@String.Format("{0}{1}{3}={2}", Model.BaseUrl, Model.QueryStringToken, Model.CurrentPageNumber - 1, Model.QueryStringParam)">&laquo;</a></li>
        }
        if (Model.CurrentPageNumber > 5)
        {
            <li>&hellip;</li>
        }
        for (int i = Math.Max(1, Model.CurrentPageNumber - 4); i <= Math.Min(numPages, Model.CurrentPageNumber + 4); i++)
        {
            if (Model.CurrentPageNumber == i)
            {
                <li class="active">@i</li>
            }
            else
            {
                <li><a href="@String.Format("{0}{1}{3}={2}", Model.BaseUrl, Model.QueryStringToken, i, Model.QueryStringParam)">@i</a></li>
            }
        }
        if (Model.CurrentPageNumber < numPages - 5)
        {
            <li>&hellip;</li>
        }
        if (Model.CurrentPageNumber*Model.ResultsPerPage < Model.TotalResults)
        {
            <li><a class="next" href="@String.Format("{0}{1}{3}={2}", Model.BaseUrl, Model.QueryStringToken, Model.CurrentPageNumber + 1, Model.QueryStringParam)">&raquo;</a></li>
        }
    }
   
    @:</ul>
}